@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola a Todos</h1>
    <h2 class="display-4">Vacaciones en Mendoza</h2>
    <img src="~/img/Mendoza.jpeg" alt="Valle Grande" class="centered-image">

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
